.row {
    display: flex;
    padding: 20px;
    height: max-content;
}

.section-1 {
    /* margin-right: 5px; */
    /* width: 50%; */
}
.section-2 {
    margin-left: 10px;
    width: 300px;
}

img {
    width: 100%;
    /* height: 75px;
    object-fit: cover; */
    margin-bottom: 10px;
}

.section-1 h2 {
    padding: 10px;
}